<style>
    .title {
        color: red;
        font-size: 48px;
    }
</style>

<h1 class="title">Relatório completo:</h1>
<strong>Termo buscado = {{comeco.termo_input|title}}</strong>
<h3>{{comeco.contador_total}} ocorrências encontradas"</h3>